.File{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
  

    &-content{
        position: relative;
        width:90%;
        top:45px;
       

        &-top{
           
            h2{
                font-size: 30px;
            }     
        }

        &-main{
           
            padding:20px 30px;
        }

        &-item{
           display:flex;
           justify-content: space-between;
           position: relative;
           padding:20px 0;

           h3{
               font-size: 18px;
               color:grey;
           }

           a{
               color:blue;
               font-size:15px;
               letter-spacing: 3px;
               text-decoration: none;
               cursor: pointer;
           }
        }
        
    } 
}

@media(max-width:768px){
    .File{
        text-align: center;

        &-content{
            &-item{
                display: block;
                text-align: center;

                h3{
                    padding:5px 0;
                }
            }
        }
    }
}